body {
  background-color: #FF851B;
  font-family: 'Montserrat', sans-serif;
}

button {
  margin-left: 48%;
  margin-top: 15%;
  font-size: 2em;
  background-color: white;
  border: solid black 0.5px;
  border-radius: 5%;
}

p {
  font-size: 1.5em;
  text-align: center;
}